<!DOCTYPE html>
{% load bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Send</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body{
            background-color: black;
        }
        form{
            background-color:#dcdcdc;
            padding: 10px 10px;
            border-radius: 10px;
        }
        h1{
            text-align:center; 
            color:white
        }
        button{
            border-radius: 5px;
            background-color: #f0f8ff;
            border: none;
            color: #4169e1;
        }
    </style>
</head>
<body >
    <h1>Send Email</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="jumbotron">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% comment %} {{ form.as_p }} {% endcomment %}
                        <button type="submit">Send Email</button>
                    </form>
</div>
</div>
</div>
    </div>
</body>
</html>